@-webkit-keyframes gradient {
    0% {
        background-position: 0% 15%;
    }

    50% {
        background-position: 25% 15%;
    }

    100% {
        background-position: 0% 15%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 15%;
    }

    50% {
        background-position: 25% 15%;
    }

    100% {
        background-position: 0% 15%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 15%;
    }

    50% {
        background-position: 25% 15%;
    }

    100% {
        background-position: 0% 15%;
    }
}

body {
    padding: 0;
    margin: 0;
    -moz-animation: gradient 35s ease infinite;
}

.tile-component {
    display: flex;
    flex-direction: column;
}

.tiles-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vw;
    height: 14vw;
}

.tiles-box {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    align-items: center;
    overflow-x: auto;
    height: auto;
}

.tile-container {
    display: inline-flex;
    margin-right: 1.5vw;
    height: 10vw;
    border-radius: 0.8vw;
    box-shadow: rgb(0 0 0 / 84%) 0px 0.25vw 0.5vw 0px;
}

.body-container {
    padding: 2.5vw;
    width: 96vw;
    /* background: linear-gradient(178deg, #002336, #00777b); */
    background-color: #21232D;
    background-size: 100% 100%;
    -webkit-animation: gradient 35s ease infinite;
    -moz-animation: gradient 35s ease infinite;
    animation: gradient 35s ease infinite;
    overflow: hidden !important;
}

.tile-container.active {
    border: 0.1vw solid white;
    height: 10.5vw;
    /* Animation */
    transition: 0.2s;
    outline: none !important;
}

h3.tile-header {
    font-size: 1.3vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    margin-bottom: 0.8vw;
}

.tile-video {
    display: none;
    border-radius: 0.8vw;
}

.disney-load {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #050b38;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
}

img.tile-image {
    border-radius: 0.8vw;
}



@media only screen and (orientation: portrait) {
    .tiles-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10.5vw;
        height: auto;
    }

    .tile-container {
        display: inline-flex;
        margin-right: 5.25vw;
        height: auto !important;
    }

    h3.tile-header {
        font-size: 4.3vw !important;
        margin-bottom: 3.5vw;
    }


    .tile-component {
        display: flex;
    }

    .tiles-box {
        display: flex;
        width: 100%;
        overflow: auto;
        align-items: center;
    }

    .body-container {
        padding: 8.5vw;
        width: 100%;
        background: linear-gradient(178deg, #002336, #00777b);
        background-size: 100% 100%;
        -webkit-animation: gradient 35s ease infinite;
        -moz-animation: gradient 35s ease infinite;
        animation: gradient 35s ease infinite;
        overflow: hidden;
    }

    .tile-container.active {
        border: 1vw solid white;
        height: 37vw !important;
        transition: 0.2s;
        outline: none !important;
        border-radius: 3vw;
        width: auto !important;
    }


    .disney-load {
        position: fixed;
        width: 100%;
        display: flex;
        height: 100%;
    }

    img.tile-image {
        border-radius: 3vw;
    }



    .modal-popup-bg {
        height: 100% !important;
    }

    .modal-popup {
        background-color: #21232D;
        width: 61% !important;
        left: 19% !important;
        top: 34% !important;
    }


    .cover {
        width: 100%;
        display: block;
        justify-content: flex-start;
        overflow: hidden;
        height: auto;
        align-items: flex-start;
        position: relative;
    }

    .cover-image {
        justify-content: center;
        align-items: flex-start;
        display: block;
        width: 100%;
    }

    .title-image {
        width: 19vw !important;
    }

    .disney-details {
        padding: 5.5vw !important;
    }

    .disney-name {
        font-size: 5.2vw !important;
        font-family: 'Noto Sans';
        margin-bottom: 0.5vw;
        color: white;
    }


    .disney-extras {
        display: flex;
        margin-bottom: 7.5vw !important;
        color: white;
        width: 100%;
    }

    .disney-extras span {
        font-size: 2.85vw !important;
        font-family: 'Noto Sans';
        display: inline-flex;
        margin-right: 2.5vw !important;
    }

    .disney-buttons {
        display: flex;
    }

    button.disney-btn {
        font-size: 3vw !important;
        padding: 3vw !important;
        width: 24vw !important;
        margin-right: 1.5vw !important;
        border: none !important;
        color: white;
        background-color: #0472d2;
        outline: none;
    }

    button.disney-btn.my-list {
        width: auto !important;
    }
}






.modal-popup-bg {
    background: #00000082;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}

.modal-popup {
    position: relative;
    height: auto;
    background-color: #21232D;
    width: 36%;
    left: 33%;
    top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    border-radius: 4%;
}


.cover {
    width: 100%;
    display: block;
    justify-content: flex-start;
    overflow: hidden;
    height: auto;
    align-items: flex-start;
    position: relative;
}

.cover-image {
    justify-content: center;
    align-items: flex-start;
    display: block;
    width: 100%;
}

.title-image {
    position: absolute;
    width: 10vw;
    top: 2vw;
    mix-blend-mode: screen;
    left: 1.5vw;
}

.disney-details {
    padding: 1.5vw;
}

.disney-name {
    font-size: 1.2vw;
    font-family: 'Noto Sans';
    margin-bottom: 0.5vw;
    color: white;
}


.disney-extras {
    display: flex;
    margin-bottom: 1.5vw;
    color: white;
    width: 100%;
}

.disney-extras span {
    font-size: 0.85vw;
    font-family: 'Noto Sans';
    display: inline-flex;
    margin-right: 0.5vw;
}

.disney-buttons {
    display: flex;
}

button.disney-btn {
    font-size: 1vw;
    padding: 1vw;
    width: 10vw;
    margin-right: 0.5vw;
    border: none !important;
    color: white;
    background-color: #0472d2;
    outline: none;
}

button.disney-btn.my-list {
    width: auto;
}

/*
.close-popup {
    z-index: 999999;
    font-size: 1.85vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}*/